[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=monitoring
Restart=on-failure

ExecStart=path_to_prometheus/prometheus \
  --config.file=path_to_prometheus/prometheus.yml \
  --storage.tsdb.path=path_to_prometheus/data

[Install]
WantedBy=multi-user.target
